<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:include="/adminheaderNav"></header>
	<main>
		<h1>쿠폰 지금 하기</h1>
		<table>
			<thead>
				<tr>
					<th>쿠폰 목록</th>
				</tr>
			</thead>
			<tbody>
				<tr class="" th:onclick="" th:each="coupon:${couponList}">
					<th th:text="${coupon.cpName}"></th>
					<th th:text="${coupon.cpDiscount}"></th>
					<th th:text="${#dates.postTime(coupon.cpStart,YYYY년MM월dd일 HH시mm분)}"></th>
					<th th:text="${#dates.postTime(coupon.cpEnd,YYYY년MM월dd일 HH시mm분)}"></th>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>