<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>예매 페이지</title>

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/reservation/flightsearch.css" rel="stylesheet">

</head>

<body>
	<header th:include="/headerNav"></header>
	<div class="container">
		<div class="content">
			<div class="content_main">
				<div class="head">
					<h2>항공권 예매</h2>
				</div>
				<div class="content_body">
					<form action="/reservation/temp.do" method="post">
						<div class="search_option_container">
							<div class="option_container">
								<div class="option_selector">
									<input type="radio" class="btn-check" name="options" id="round-trip-option">
									<label for="round-trip-option" class="btn btn-outline-danger">왕복</label>
									<input type="radio" class="btn-check" name="options" id="one-way-option">
									<label for="one-way-option" class="btn btn-outline-danger">편도</label>
								</div>
							</div>
						</div>
						<div class="search_plan_container">
							<div class="search_plan">

								<div class="airport_selector">
									<div class="depart_airport_selector selector_option">
										<label for="depart_airport" class="depart_airport_tit sub-airport-tit">출발지</label>
										<select class="form-select selector_box" id="depart_airport" name="depAprt">
											<option value="">출발 공항</option>
											<option th:each="i : ${airportList}" th:text="${i.airportNm}" th:value="${i.airportId}"></option>
										</select>
									</div>
									<div class="land_airport_selector selector_option">
										<label for="land_airport" class="land_airport_tit sub-airport-tit">도착지</label>
										<select class="form-select selector_box" id="land_airport" name="landAprt">
											<option value="">도착 공항</option>
											<option th:each="i : ${airportList}" th:text="${i.airportNm}" th:value="${i.airportId}"></option>
										</select>
									</div>
								</div>

								<div class="plan_date selector_option">
									<label for="depart_date" class="sub-airport-tit" style="margin-right:15px;">탑승일</label>
									<input class="depart_date selector_box" id="depart_date" name="depDate" type="date" pattern="yyyymmdd">
								</div>

								<div class="passenger_count">
									<div class="adult_count count_box">
										<div class="sub-passenger-tit">성인</div>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-secondary" id="aMinus">-</button>
											<div class="input_container">
												<input type="text" id="adult_count" value="0" name="rvMatureAdult">
											</div>
											<button type="button" class="btn btn-secondary" id="aPlus">+</button>
										</div>
									</div>
									<div class="teen_count count_box">
										<div class="sub-passenger-tit">소아</div>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-secondary" id="tMinus">-</button>
											<div class="input_container">
												<input type="text" id="teen_count" value="0" name="rvMatureTeen">
											</div>

											<button type="button" class="btn btn-secondary" id="tPlus">+</button>
										</div>
									</div>
									<div class="baby_count count_box">
										<div class="sub-passenger-tit">유아</div>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-secondary" id="bMinus">-</button>
											<div class="input_container">
												<input type="text" id="baby_count" value="0" name="rvMatureBaby">
											</div>
											<button type="button" class="btn btn-secondary" id="bPlus">+</button>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="content_footer">
							<div class="btn_group">
								<button type="submit" class="submit_search btn btn-outline-danger">항공편 검색</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="/footerNav"></footer>

	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script src="/js/reservation/flightSearch.js"></script>
</body>

</html>