<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/reservation/passenger_list.css}">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="head">
			<h2>항공권 예매</h2>
		</div>
		<div class="body">
			<div class="text">
				<h3>탑승자 정보</h3>
				<div class="text-sub">신분증에 기재된 이름, 생년월일을 작성하세요.</div>
			</div>

			<div class="passenger_info">
				<form action="">
					<div class="p_info-list">
						<ul>
							<li>
								<a></a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>