<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<div>
			<div class="result_msg complete fix mt60">
		        <p class="tit">
		        JB항공을 이용해 주시는 고객님! <br>
		        항공권 발권이 완료되었습니다.
		        </p>
		        <div class="txt">
			        <ul class="ul_dot txt_left pl40">
						<li>박윤찬 님의 발권이 완료되었습니다.</li>
						<li>E-ticket의 경우 마이페이지에서 확인이 가능합니다.</li>
					</ul>
		        </div>
		    </div>
		</div>
		
		<div>
			<span>예약 번호 : TD5UA2</span>
			<p> 항공일정   | 김포->제주, 제주->김포</p>
			<p> 예약상태   | 발권완료</p>
			<p> 탑승객수   | 2명</p>
			<p> 출/도착시간 | 2022.10.10(월)  07 : 00 ~ 09 : 10, 2022.10.14(금) 13 : 10 ~ 15 : 50</p>
		</div>
		
		<div>
			<div class="table_round">
				<table class="tb_col">
					<h3>결제 금액</h3>
					<colgroup>
						<col style="width:14%">
						<col style="width:14%">
						<col style="width:14%">
						<col style="width:14%">
						<col style="width:14%">
						<col style="width:14%">
						<col style="width:14%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">탑승객</th>
							<th scope="col">항공 운임</th>
							<th scope="col">유류할증료</th>
							<th scope="col">공항시설 사용료</th>
							<th scope="col">부가서비스</th>
							<th scope="col">결제 내역</th>
						</tr>
					</thead>
					<tbody>
						<!-- loop -->
						<tr>
							<td>1</td>
							<td>박윤찬</td>
							<td>KRW 54,900</td>
							<td>KRW 30,800</td>
							<td>KRW 8,000</td>
							<td>KRW 0</td>
							<td>KRW 93,700</td>
						</tr>
						<!-- // loop -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>