<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/reservation/r_footer.css}">
<div class="bottom_wrap">
	<div class="b_container">
		<div class="price_wrap" id="summaryTopPrice">
			<span class="total">항공운임 등 총액</span> 
			<span class="unit summary_currency">KRW</span> 
			<span class="price" id="summary_title_amount">0</span>
		</div>
		<div class="btn_wrap">
			<button class="btn b_prev">이전 단계</button>
			<button class="btn b_next">다음 단계</button>
		</div>
	</div>
</div>
</html>