<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이벤트 페이지</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/event/eventPage.css">
	<script defer="defer" src="/js/event/event.js"></script>
</head>
<body>
	<header th:include="/headerNav"></header>
	<div class="container">
		<div class="container_main">
			<div class="section_event">
				<div class="main_tit_wrap">
					<h2 class="main_tit">이벤트</h2>
				</div>
				
			</div>
			<div class="tab_wrap" id="tab_wrap_id">
				<ul id="tabUl" class="tab n2">
					<li id="tabHead1" class="on">
						<a href="#" id="tabHead1">
							<span>진행중인 이벤트</span>
						</a>
					</li>
					<li id="tabHead2">
						<a href="#" id="tabHead2">
							<span>종료된 이벤트</span>
						</a>
					</li>
				</ul>
				<div class="evt_wrap">
					<ul class="evt_list">
						<li th:each="coupon:${cpList}">
							<a href="#pop_info_1" class="btn_open">
								<div class="img1"><img alt="주말 특가" src="/imges/event1.jpg" width="300" height="200"></div>
								<strong><span th:text="${coupon.cpName}"></span></strong>
								<p>
									<span th:text="${coupon.cpDiscount}"></span>
									<span>% 할인</span>
								</p>
								<p>
									<span th:text="${#dates.format(coupon.cpStart, 'yyyy-MM-dd')}"></span>
									<span>~</span>
									<span th:text="${#dates.format(coupon.cpEnd, 'yyyy-MM-dd')}"></span>
								</p>
							</a>
							<!-- 팝업창 -->
							<div id="pop_info_1" class="pop_wrap" style="display:none;">
							  <div class="pop_inner">
							    <p class="dsc">쿠폰을 발급받으시겠습니까?</p>
							    <hr>
							    <button type="button" class="btn_receive" onclick="location.href='/event/eventPage.do'">쿠폰 발급</button>
							    <button type="button" class="btn_close">닫기</button>
							  </div>
							</div>
							<!-- //팝업창 -->
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="/footerNav"></footer>
</body>
</html>