@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}

boby {
	width: 1100px;
	margin: 0 auto;
}

.pg_tit{
	margin: 20px 0 23px 0;
	font-size: 41px;
}

.option_selector{
	margin: 20px 0 20px 0;
}

.depart_airport_selector{
	margin-bottom: 20px;
}

.plan_date{
	margin: 23px 0 23px 0;
}

.passenger_count{
	display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.adult_count{
	width: 300px;
   	max-width: 100%;
}
.teen_count{
	width: 300px;
    max-width: 100%;
}
.baby_count{
	width: 300px;
    max-width: 100%;
}

.btn.btn-secondary{
	padding: 0 15px;
}

.btn_group{
	margin: 40px 0 30px 0;
	text-align: center;
}
.submit_search{
	display: inline-block;
}
