<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joongbu.flight_reservation.mapper.AdminMapper">
    <select id="customerList" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
        SELECT * FROM CUSTOMER
    </select>
<!--    <select id="customerDetail" resultType="com.joongbu.flight_reservation.dto.CustomerDto">-->
<!--        SELECT * FROM CUSTOMER WHERE ct_name = #{ctNAME}-->
<!--    </select>-->
<!--    <update id="customerUpdate" parameterType="com.joongbu.flight_reservation.dto.CustomerDto">-->
<!--        UPDATE CUSTOMER SET ct_Name = ct_id = #{ctId}, ct_pw = #{ctPw}, #{ctName}, ct_phone = #{ctPhone}-->
<!--        , ct_email = #{ctEamil}, ct_birth = #{ctBirth} , ct_gender = #{ctGender} WHERE ct_no = #{ctNo]-->
<!--    </update>-->

</mapper>