<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joongbu.flight_reservation.mapper.AdminMapper">
    <select id="customerList" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
        SELECT * FROM CUSTOMER
    </select>
<!--    <select id="customerDetail" resultType="com.joongbu.flight_reservation.dto.CustomerDto">-->
<!--        SELECT * FROM CUSTOMER WHERE ct_name = #{ctNAME}-->
<!--    </select>-->
<!--    <update id="customerUpdate" parameterType="com.joongbu.flight_reservation.dto.CustomerDto">-->
<!--        UPDATE CUSTOMER SET ct_Name = ct_id = #{ctId}, ct_pw = #{ctPw}, #{ctName}, ct_phone = #{ctPhone}-->
<!--        , ct_email = #{ctEamil}, ct_birth = #{ctBirth} , ct_gender = #{ctGender} WHERE ct_no = #{ctNo]-->
<!--    </update>-->
	<select id="login" resultType="com.joongbu.flight_reservation.dto.AdminDto">
		SELECT *,admin_id adminId from ADMIN
 		WHERE admin_id=#{adminId} AND admin_pw=#{adminPw}
	</select>
	<select id="adminDetail" resultType="com.joongbu.flight_reservation.dto.AdminDto">
		SELECT *,admin_id adminId FROM ADMIN 
		WHERE admin_id=#{adminId}
	</select>
	<update id="Aupdate" parameterType="com.joongbu.flight_reservation.dto.AdminDto">
		UPDATE ADMIN SET 
		admin_name=#{admin_name}, admin_pw=#{admin_pw}, admin_email=#{admin_email}, admin_no=#{admin_no} 
		WHERE admin_id=#{adminId}
	</update>
</mapper>