<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.joongbu.flight_reservation.mapper.CustomerMapper">
  	<select id="login" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
  		select *,ct_id ctId from customer
  		where ct_id=#{ctId} and ct_pw=#{ctPw}
  	</select>
  	<select id="find" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
  		select ct_id ctId from customer
  		where ct_name=#{ctName} and ct_email=#{ctEmail}
  	</select>
  	<select id="findPassword" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
		select * from customer 
		where ct_id=#{ctId} and ct_name=#{ctName} and ct_email=#{ctEmail}
	</select>
	
	<select id="detail" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
		SELECT *,ct_name ctName FROM CUSTOMER
        WHERE ct_name=#{ctName} 
	</select>
	<select id="detail2" resultType="com.joongbu.flight_reservation.dto.CustomerDto">
		SELECT *,ct_email ctEmail FROM CUSTOMER
        WHERE ct_email=#{ctEmail}
	</select>
	
	<update id="newPassword" parameterType="com.joongbu.flight_reservation.dto.CustomerDto">
		update customer set ct_pw=#{ctPw} 
		where ct_id=#{ctId}
	</update>
	
	
  </mapper>