<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 정보 페이지</title>
<script type="text/javascript">
window.onload = function(){
    let update = document.getElementById('update');
    update.onclick = function(){
        alert('수정 완료');
        update.onclick = null;
    }
}
</script>
</head>
<body>
	<header th:include="/adminpage/headerNav"></header>
	<main class="container mx-auto mt-5" style="max-width: 600px;">
		<h1>관리자 상세정보</h1>
		<form action="/adminpage/update.do" method="post" class="mt-5">
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">아이디</label>
				<div  class="col-sm-10">
					<input class="form-control-plaintext" readonly type="text" name="adminId" th:value="${adminDto.adminId}">
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">패스워드</label>
				<div  class="col-sm-10">
					<input class="form-control" type="password" name="admin_pw" th:value="${adminDto.admin_pw}">
				</div>
			</div>
			<div class="mb-3 input-group">
				<label class="input-group-text">이름 </label>
				<input class="form-control" type="text" name="admin_name" th:value="${adminDto.admin_name}">
			</div>
			<div class="mb-3 input-group">
				<label class="input-group-text">이메일 </label>
				<input class="form-control" type="text" name="admin_email" th:value="${adminDto.admin_email}">
			</div>
			<div class="mb-3 input-group">
				<label class="input-group-text">번호 </label>
				<input class="form-control" readonly type="text" name="admin_no" th:value="${adminDto.admin_no}">
			</div>
			<div>
				<button type="reset" class="btn btn-outline-secondary">초기화 </button>
				<button class="btn btn-outline-primary" id="update">수정</button>
			</div>
		</form>
	</main>
</body>
</html>