<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/admin/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/admin/style2.css">
    
  
    
<title>Insert title here</title>
</head>
<body>
  

 <div class="container">
 	<div class="table-responsive custom-table-responsive">
 	<button class="button">삭제</button>
       <table class="table custom-table">
			<thead>
				<tr>
					 <th scope="col">
                <label class="control control--checkbox">
                  <input type="checkbox"  class="js-check-all"/>
                  <div class="control__indicator"></div>
                </label>
              </th>
                
            
              <th scope="col" class="cplist">
              		쿠폰 이름
              </th>
              <th scope="col" class="cplist">할인율</th>
              <th scope="col" class="cplist">시작 날짜</th>
              <th scope="col" class="cplist">종료 날짜</th>
                    
				</tr>
                
			</thead>
			<tbody>
				<tr scope="row" class="" th:onclick="" th:each="coupon:${paging.list}">
                     <th scope="row">
                        <label class="control control--checkbox">
                          <input type="checkbox"/>
                          <div class="control_indicator"></div>
                        </label>
                    </th>
					<td th:text="${coupon.cpName}"><a href="#"></a></td>
					<td th:text="${coupon.cpDiscount}"></td>
					<td th:text="${coupon.cpStart}"></td>
					<td th:text="${coupon.cpEnd}"></td>
				</tr>
                  <tr class="spacer"><td colspan="100"></td></tr>
                    <tr class="active">
                      <th scope="row">
                        <label class="control control--checkbox">
                          <input type="checkbox" checked="" />
                          <div class="control__indicator"></div>
                        </label>
              </th>
                </tr>
                
			</tbody>
		</table>
    </div>
      </div>
  
   <script src="/js/admin/jquery-3.3.1.min.js"></script>
    <script src="js/admin/popper.min.js"></script>
    <script src="/js/admin/bootstrap.min.js"></script>
    <script src="/js/admin/main.js"></script>
    
    

</body>
</html>