<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>쿠폰 관리</title>
</head>
<body>
	
	<main>
		<h1>쿠폰 관리 하기</h1>
		<table>
			<thead>
				<tr>
					<th>쿠폰 목록</th>
				</tr>
			</thead>
			<tbody>
				<tr class="" th:onclick="" th:each="coupon:${paging.list}">
					<td th:text="${coupon.cpName}"></td>
					<td th:text="${coupon.cpDiscount}"></td>
					<td th:text="${#dates.format(coupon.cpStart,'YYYY년MM월dd일')}"></td>
					<td th:text="${#dates.format(coupon.cpEnd,'YYYY년MM월dd일')}"></td>
				</tr>
			</tbody>
		</table>
		
	</main>
</body>
</html>