<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/admin/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/css/admin/style.css"> <!-- Resource style -->

</head>
<body>
	<form class="cd-form floating-labels" method="Post" action="/adminpage/createCoupon.do">
		<fieldset>
			<legend>쿠폰 생성</legend>
	<!--  
			<div class="error-message test">
				<p>Please enter a valid email address</p>
			</div>-->

			<div class="icon">
				<label class="cd-label" for="cd-name">쿠폰 이름</label>
				<input class="user" type="text" name="cpName" id="cd-name" required>
		    </div> 

		    <div class="icon">
		    	<label class="cd-label" for="cd-company">할인율</label>
				<input class="company" type="text" name="cpDiscount" id="cd-company">
		    </div> 
		
		    <div class="icon" id="dafy2">
		    	<label class="cd-label" for="cd-company">기간 </label>
				<input class="budget" type="date" name="cpStart" id="cd-company">
		    </div> 
		   <p class="cd-label" style="text-align:center; ">~ </p>
		     <div class="icon"  id="dafy2">
		     
				<input class="budget" type="date" name="cpEnd" id="cd-company">
		    </div> 
		
		   
		 	<div>
		      	<button type="submit" class="btbt">쿠폰 등록</button>
		    </div>
			
		</fieldset>
	</form>


</body>
</html>