<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 비밀번호 찾기 폼</title>
<script defer="defer" src="/js/admin/findPw"></script>
</head>
<body>
	<header th:include="/adminpage/adminheaderNav"></header>
	<main>
		<h1>비밀번호 찾기</h1>
		<form name="adminFindPw" action="/adminpage/findPassword.do" method="post" class=mt-5"">
			<div class="mb-3 row">
				<h3>아이디</h3>
				<label for="col-sm-2 col-form-label" class="">아이디를 입력해주세요</label>
				<div>
					<input name="adminId" type="text" class="form-control" id="" placeholder="">
					<div class="valid-feedback">
						존재하는 아이디 입니다.
					</div>
					<div class="valid-feedback" id="adminIdInvalid">
						존재하지 않는 아이디 입니다.
					</div>
				</div>
			</div>
			<div>
				<h3>이름</h3>
				<input name="" type="text" class="" id="" placeholder="">
				<label for="" class="">한글로 입력해주세요</label>
			</div>
			<div>
				<h3>이메일</h3>
				<input name="" type="text" class="" id="" placeholder="">
				<label for="" class="">이메일을 입력해주세요</label>
			</div>
			<div>
				<button type="submit" class="">인증번호 발송</button>
			</div>
			<div>
				<h3>인증번호</h3>
				<input name="" type="text" class="" id="" placeholder="">
				<label for="" class="">인증번호를 입력해주세요</label>
			</div>
			<div>
				<button type="submit" class="">인증확인</button>
			</div>
			<div>
				<button type="submit">비밀번호 찾기</button>
			</div>
		</form>
	</main>
</body>
</html>