<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script defer="defer" src="/js/admin/duplicateCheck.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/adminpage/management.do">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav" th:with="uri=${#httpServletRequest.requestURI}">
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/userManagement.do">회원관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/reservationManagement.do">예약관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/reservationDetailManagement.do">예약상세조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/counselling.do">문의보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/couponManagement.do">쿠폰관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/coupon.do">쿠폰지급</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/loginpage.do">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/logout.do">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/adminDetail.do">관리자정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/jsonApi.do">관리자정보</a>
                </li>
            </ul>
            <ul class="navbar-nav">
		<th:block th:if="${session.loginAdmin==null}">
			<li class="nav-item">
				<a class="nav-link" href="/adminpage/loginpage.do">Login</a>
			</li>
		</th:block>
		<th:block th:unless="${session.loginAdmin==null}">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/adminpage/adminDetail.do(adminId=${session.loginAdmin.adminId})}">
					<th:block th:text="${session.loginAdmin.adminId}"></th:block>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/adminpage/logout.do">Logout</a>
			</li>
		</th:block>
	</ul>
        </div>
    </div>
</nav>
</html>