<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/adminpage/management.do">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav" th:with="uri=${#httpServletRequest.requestURI}">
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/userManagement.do">회원관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/reservationManagement.do">예약관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/reservationDetailManagement.do">예약상세조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/counselling.do">문의보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/createCoupon.do">쿠폰관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage/coupon.do">쿠폰지급</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>