<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<tbody class="table-striped">
<tr th:each="rv : ${reservation.list}" th:if="${#dates.format(rv.rvDate, 'yyyy-MM-dd')} < ${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
    <td th:text="${rv.rvNo}"></td>
    <td th:text="${rv.ctNo}"></td>
    <td th:text="${rv.rvPetAccompanying}"></td>
    <td th:text="${rv.rvPhone}"></td>
    <td th:text="${rv.rvEmail}"></td>
    <td th:text="${#dates.format(rv.rvDate, 'yyyy-MM-dd')}"></td>
    <td th:text="${rv.rvMatureAdult}"></td>
    <td th:text="${rv.rvMatureTeen}"></td>
    <td th:text="${rv.rvMatureBaby}"></td>
    <td th:text="${rv.rvDepartAp}"></td>
    <td th:text="${rv.rvLandAp}"></td>
    <td th:text="${rv.rvIsTicketed}"></td>
</tr>
</tbody>
</html>