<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 관리</title>
</head>
<body>
<header th:include="/adminpage/headerNav"></header>
<script defer="defer" src="/js/admin/duplicateCheck.js"></script>
<main class="container mx-auto mt-5" style="max-width: 80%;">
    <h1>회원 목록</h1>
    <form class="d-flex mb-3 mt-5" role="search" method="get" action="" style="max-width: 250px;">
        <input class="form-control me-2 " type="search" placeholder="사용자 검색" name="ctName" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table table-hover mx-auto border-dark">
        <thead>
        <tr class="table-dark">
            <th>#</th>
            <th>이름</th>
            <th>아이디</th>
            <th>생년월일</th>
            <th>이메일</th>
            <th>휴대전화</th>
            <th>성별</th>
            <th>Setting</th>
        </tr>
        </thead>
        <th:block th:include="/adminpage/customerList"></th:block>
    </table>
    <nav aria-label="Page navigation example" th:include="/adminpage/customerPagingNav">
    </nav>
</main>
</body>
</html>