nav {
    width: 1100px;
    margin: auto;
}
nav > div {
    height: 80px;
    line-height: 80px;
}
nav > div > a {
    text-decoration: none;
    color: #222;
}
.logo {
    float: left;
    width: 100px;
    font-size: 25px;
}
.gnb {
    width: 660px;
    display: inline-block;
    text-align: center;
}
.gnb a {
    margin: 40px;
}
.lnb {
    float: right;
    width: 333px;
    text-align: center;
}
.lnb a {
    margin: 8px;
}



