<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>footerNav</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/footerNav.css}">
</head>
<body>
	<div class="f_info">
		<div class="f_logo">
			<a href="#">JB항공</a>
		</div>
		<div class="f_addr">
			<p>
				<span>고객센터. 1688-1688</span> |
				<span>(9:00 ~ 19:00)</span>
			</p>
			<p>
				<span>대표이사. 나나나</span> |
				<span>사업자등록번호. 101-00-00000</span> |
				<span>주소. 경기도 고양시 덕양구 동헌로 305</span>
			</p>
			<copyright>Copyright ⓒ 2022 JB Air. All Rights Reserved.</copyright>
		</div>
	</div>		
</body>
</html>