<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<header th:include="/headerNav"></header>
	<div class="main_text">
		<div class="image"></div>
		<div class="reserve"></div>
	</div>
	<div class="discount">
		<ul class="icons">
			<li>
			</li>
			<li>
			</li>
			<li>
			</li>
		</ul>
	</div>
	<div class="member">
		<p>회원혜택</p>
		<div class="mbox">
			<p>VIP 회원혜택, 항공운임 5% + 5% 적립</p>
		</div>
	</div>
	<footer th:include="/footerNav"></footer>
</body>
</html>