<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<th:block th:if= "${session.loginCt==null}">
	<h2><a href="/login/loginPage.do">로그인하기</a></h2>
	</th:block>
	<th:block th:unless= "${session.loginCt==null}">
	<h2><a href="/login/logout.do">로그아웃</a></h2>
	</th:block>

	<a href="/templates/mainp/mainp.html">메인 페이지</a>
	<a href="/reservation/terms.do">약관 페이지</a>
	<a href="/reservation/pay.do">결제 페이지</a>
	<a href="/reservation/payComplete.do">결제 완료 페이지</a>

</body>
</html>