<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 관리</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<main class="container mx-auto" style="max-width: 1100px;">
    <h1>회원 관리</h1>
    <table class="table table-hover mx-auto border-dark" style="text-align: center;">
        <thead>
        <tr class="table-dark">
            <th>이름</th>
            <th>아이디</th>
            <th>생년월일</th>
            <th>이메일</th>
            <th>휴대전화</th>
            <th>성별</th>
            <th>Setting</th>
        </tr>
        </thead>
        <tbody class="table-striped">
        <tr>
            <td>정욱채</td>
            <td>qwer1234</td>
            <td>1998-07-14</td>
            <td>aqwer123@naver.com</td>
            <td>010-1234-1234</td>
            <td>남자</td>
            <td><p><a class="btn btn-primary" href="#">수정</a><a class="btn btn-outline-danger" href="#">삭제</a></p></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>