<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기 페이지</title>
</head>
<body>
	<main class="container mx-auto" style="max-width: 500px">
	<h1 class="d-flex justify-content-center mt-5">비밀번호 찾기</h1>
		<!-- action -->
		<form action="/login/findPwAuth.do" method="post">
			<div class="mb-3">
				<label class="form-label" id="inputCtId">아이디</label>
				<input class="form-control" name="ctId" id="inputCtId" >
				
			</div>
			<div class="mb-3">
				<label class="form-label" id="inputName">이름</label>
				<input class="form-control" name="ctName" id="inputName">
			</div>
			
			<div class="mb-3">
				<label class="form-label" id="inputEmail">이메일</label>
				<input type="email" class="form-control" name="ctEmail" id="inputEmail">
			</div>
			
			<div class="d-grid gap-2 mt-5 "> 
				<button class="btn btn-primary">비밀번호 찾기</button>
			</div>
		</form>
	</main>
</body>
</html>