<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>아이디 찾은 페이지</title>
</head>
<body>
	<main class="container mx-auto" style="max-width: 500px">
	<h1 class="d-flex justify-content-center mt-5">아이디 찾기</h1>
		<div class="mt-5 border border-3 rounded-3 p-3">
			<div>
				<p>고객정보와 일치하는 아이디</p>
					<p class="d-flex justify-content-center m-5">
						<strong class="fs-3">고객아이디값</strong>
					</p>	
			</div>
		</div>	
		<div class="d-flex justify-content-center mt-5 ">
			<button type="button" class="btn btn-primary btn-lg m-2">로그인 하기</button>
			<button type="button" class="btn btn-secondary btn-lg m-2">비밀번호 찾기</button>
		</div>
	</main>
	
</body>
</html>