<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script defer="defer" src="/js/find/findId.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<head>
<meta charset="UTF-8">
<title>아이디 찾기 페이지</title>
</head>
<body>
	<main class="container mx-auto" style="max-width: 500px">
	<h1 class="d-flex justify-content-center mt-5">아이디 찾기</h1>
		<!-- action  action="/login/findId.do" -->
		<form id="findNameForm" name="findNameForm" action="/login/findUserId"  method="post" class="mt-5">
			<div class="mb-3 row">
            <label class="col-sm-2 col-form-label">이름</label>
            <div class="col-sm-10">
               <input name="ctName" type="text" class="form-control" value="">
               <div class="valid-feedback" id="ctNameValid">
                  존재하는 이름 입니다.
               </div>
               <div class="invalid-feedback" id="ctNameInvalid">
                  존재하지 않는 이름 입니다.
               </div>
            </div>
         </div>
         
         <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">이메일</label>
            <div class="col-sm-10">
               <input name="ctEmail" type="email" class="form-control" value="">
               <div class="valid-feedback" id="ctEmailValid">
                  일치하는 이메일 입니다.
               </div>
               <div class="invalid-feedback" id="ctEmailInvalid">
                  일치하지 않는 이메일 입니다.
               </div>
            </div>
         </div>
         <button  type="submit" class="btn btn-primary mt-4">아이디 찾기</button>
		</form>
	</main>
</body>
</html>