<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경 완료 페이지</title>
</head>
<body>
	<main class="container mx-auto" style="max-width: 500px">
	<h2 class="d-flex justify-content-center mt-5">비밀번호 변경 완료</h1>
		<div class="mt-5 border border-3 rounded-3 p-3">
			<div>
					<p class="d-flex justify-content-center m-5">
						<strong class="fs-5">비밀번호가 변경 되었습니다!</strong>
					</p>	
			</div>
		</div>	
		<div class="d-flex justify-content-center mt-5 ">
			<button type="button" class="btn btn-primary btn-lg ">로그인 하기</button>
		</div>
	</main>

</body>
</html>