<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>새 비밀번호 지정 페이지</title>
</head>
<body>
	<main class="container mx-auto" style="max-width: 500px">
		<h1 class="d-flex justify-content-center mt-5">새 비밀번호</h1>
		<!-- action -->
		<form action="/login/newPassword.do" method="post" class="mt-5">
			<div class="mb-3">
				<label class="form-label" id="inputCtPw">새 비밀번호 입력</label>
				<input class="form-control" name="ctPw" id="inputCtPw">
			</div>
			<div class="mb-3">
				<label class="form-label" id="inputCtPwre">비밀번호 확인</label>
				<input class="form-control" name="ctPwre" id="inputCtPwre">
			</div>
			<div class="d-grid gap-2">
				  <button type="submit" class="btn btn-primary mt-4">비밀번호 변경</button>
			</div>
		</form>
	</main>

</body>
</html>