<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/signup/joinPage.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<br>
		<h1>회원 가입</h1>
			<hr>
<main class="container mx-auto mt-5"  style="max-width:800px;">
		
		<div class=" text-center"><span th:text="${#httpServletRequest.getParameter('name')}"></span> 
			<p class="wel">JB 항공에 오신 것을 환영합니다. </p>
				<img class="welimg" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbEpbdY%2FbtrO32vKwAT%2FzQUIEgm3fCHPaDZ3MKvdk0%2Fimg.png">
				<br>
				<br>
				<h2 id="result"><strong>이름</strong>님의 
				<br>회원가입이 완료 되었습니다.</h2>
				<br>
				<hr class="style-seven" />
				<div class="welp">	로그인 후 JB항공 서비스를 이용할 수 있습니다.</div>
			
				
				<br>
				<a class="button5" href="/">홈으로</a> 
				<a href="/login/loginPage.do" class="button6">로그인</a>
	
		</div>

</main>


</body>
</html>