@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.head {
	margin: 60px 0;
}

.head h2 {
	font-size: 41px;
	color: #1a1a1a;
	text-align: left;
}

/* ------ body ------ */
.content_body {
	min-height: 60vh;
}

.option_selector {
	margin: 20px 0 20px 0;
}

.airport_selector {
	display: flex;
	justify-content: space-between;
}

.selector_option {
	margin-bottom: 20px;
	width: 48%;
}

.sub-airport-tit {
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 600;
}

.plan_date {
	margin: 23px 0 23px 0;
}

.passenger_count {
	display: flex;
	max-width: 1100px;
	justify-content: space-between;
	margin: 10px 0 10px 0;
}

.count_box {
	font-size: 22px;
	font-weight: 600;
}

.sub-passenger-tit {
	margin-bottom: 10px;
}

.btn.btn-secondary {
	padding: 0 15px;
}

.btn_group {
	text-align: center;
}

.content_footer {
	margin-top: 80px;
}

.submit_search {
	display: inline-block;
	width: 230px;
	height: 60px;
}

.passenger_count input {
	text-align: center;
}
.plan_date .selector_box{
	width: 300px;
	height: 35px;
}